{% extends 'base/base.html' %}
<!-- Se cargan los estáticos-->
{% load static %}
<!-- Inicio bloque título-->
{%block tittle %} Crear citys {% endblock tittle %}
<!-- Fin bloque título-->
{% block body %}
<!-- inicio nav -->
{% include 'base/menu.html' %}
<div class="Container">
  <div class="Containercity">
    <h1 class="ContainercityTitulo m-3">Crear city</h1>
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="ContainercityFieldsField m-3">
        <!-- Nombre del city-->
        Nombre del city: {{form.nombrecity}}
      </div>
      <div class="ContainercityFieldsField m-3">
        <!-- Nombre del city-->
        Sigla city: {{form.siglacity}}
      </div>
      <div class="ContainercityFieldsField m-3">
        <!-- Nombre del city-->
        Activo: {{form.activocity}}
      </div>
      <button type="submit" class="btn btn-primary m-3 btn-lg">Guardar</button>
    </form>
    <a
      class="btn btn-outline-secondary"
      href="{% url 'inicio_app:InicioTemplateView' %}"
    >
      Volver
    </a>
  </div>
</div>
{% include 'base/footer.html' %} {% endblock body %}
